body {
    font-family: 'Gilroy', 'Trebuchet MS', sans-serif;
    /* font-family: 'Noto Serif', Georgia, serif; */
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--background-color);
}

.wrapper {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

:root {
    --accent-color: #333333;
    --accent-color-op: rgba(51, 51, 51, 0.5);
    --white-color: #FFFFFF;
    --gray-color: #D6D6D6;
    --hard-gray-color: #979797;
    --background-color: #F9F9F9;
}