.footer {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;

  &__content {
    min-width: 255px;
    max-width: 255px;
    margin-bottom: 60px;
  }

  &__heading {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $accent-color;
    border-bottom: 1px solid $accent-color;
    padding-bottom: 10px;
  }

  &__urls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    min-height: 130px;
  }

  &__text {
    margin: 0px;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: $accent-color;
    text-decoration: none;
  }

  &__menu {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &_paycards {
    display: flex;
    gap: 20px;
  }

  &__pays {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    min-height: 130px;
  }

  &__contacts {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
    min-height: 100px;
  }

  &__text-phone {
    padding-left: 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: $accent-color;
    text-decoration: none;

    &::before {
      content: '';
      position: relative;
      background: url(../img/icon-oldphone.svg) center center/contain no-repeat;
      padding: 10px;
      left: -20px;
      top: 0px;
    }
  }

  &__text-email {
    padding-left: 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: $accent-color;
    text-decoration: none;

    &::before {
      content: '';
      position: relative;
      background: url(../img/icon-mail.svg) center center/contain no-repeat;
      padding: 10px;
      left: -20px;
      top: 0px;
    }
  }

  &_socials {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &_social {
    fill: $accent-color;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__footer {
    border-top: 1px solid $accent-color;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__text-madein {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    text-align: right;
    text-decoration-line: underline;
    color: $accent-color;
  }
}

@media (max-width: $mobile-width) {
  .footer {
    gap: 20px;
    margin-bottom: 20px;

    &__content {
      margin-bottom: 0px;
    }

    &__heading {
      margin-top: 0;
      margin-bottom: 0;
      padding-bottom: 5px;
    }

    &__urls {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      min-height: 130px;
    }

    &__contacts {
      min-height: 80px;
    }

    &__footer {
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;
      align-content: center;
      align-items: center;
    }
  }
}
