.footer {
    display: flex;
    gap: 30px;
}

.footer__content {
    min-width: 255px;
    max-width: 255px;
    margin-bottom: 60px;
}

.footer__heading {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $accent-color;
    border-bottom: 1px solid $accent-color;
    padding-bottom: 10px;
}

.footer__urls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    min-height: 130px;
}

.footer__text {
    margin: 0px;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: $accent-color;
    text-decoration: none;
}

.footer_paycards {
    display: flex;
    gap: 20px;
}

.footer__pays {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    min-height: 130px;
}

.footer__contacts {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
    margin-top: -10px;
    min-height: 130px;
}

.footer__text-phone {
    padding-left: 35px;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: $accent-color;
    text-decoration: none;
}

.footer__text-phone::before {
    content: '';
    position: relative;
    background: url(../images/svg/icon-oldphone.svg) center center/contain no-repeat;
    padding: 10px;
    left: -35px;
    top: 20px;
}

.footer__text-email {
    padding-left: 35px;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: $accent-color;
    text-decoration: none;
}

.footer__text-email::before {
    content: '';
    position: relative;
    background: url(../images/svg/icon-mail.svg) center center/contain no-repeat;
    padding: 10px;
    left: -35px;
    top: 20px;
}

.footer_socials {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer_social {
    fill: $accent-color;
}

.footer__footer {
    border-top: 1px solid $accent-color;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer__text-madein {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    text-align: right;
    text-decoration-line: underline;
    color: $accent-color;
}