.first-screen {
    background: linear-gradient(0deg, rgba(51, 51, 51, 0.87), rgba(51, 51, 51, 0.87)), url(../img/bg-first-screen@1.jpg);
    background-color: $accent-color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}

.first-screen__header {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 25px;
}

.first-screen__icons {
    fill: $white-color;
}

.first-screen__icons:hover {
    transform: scale(1.2);
}


.first-screen__search {
    display: flex;
    align-items: center;
    gap: 13px;
}

.first-screen__account {
    display: flex;
    align-items: center;
    gap: 25px;
}

.first-screen__left {
    display: flex;
    gap: 40px;
    list-style-type: none;
    padding: 0px;
}

.first-screen__right {
    display: flex;
    gap: 40px;
    list-style-type: none;
    padding: 0px;
}

.first-screen__text {
    text-decoration: none;
    font-size: 14px;
    line-height: 150%;
    color: $white-color;
}

.first-screen__text:hover {
    text-decoration: underline;
}

.first-screen__content {
    min-height: calc(100vh - 465px);
}

.first-screen__footer {
    display: flex;
    flex-direction: column;
}

.first-screen__brands {
    border-top: 1px solid $white-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding-top: 30px;
    margin-bottom: 30px;
}

.first-screen__brand {
    border-right: 1px solid $white-color;
    display: flex;
    justify-content: center;
    min-width: 175px;
}

.first-screen__brand:last-child {
    border-right: none;
}

.first-screen__slogan {
    font-family: 'Noto Serif', Georgia, serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: $white-color;
    margin-bottom: 50px;
}

.first-screen__catalog {
    align-self: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $white-color;
    text-decoration: none;
    background: $accent-color;
    border: 1px solid $white-color;
    box-sizing: border-box;
    padding: 15px 35px;
    margin-bottom: 80px;
}

.first-screen__catalog:hover {
    border: 1px solid $accent-color;
    color: $accent-color;
    background: $white-color;
}