.first-screen {
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.87), rgba(51, 51, 51, 0.87)), url(../img/bg-first-screen@1.jpg);
  background-color: $accent-color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 95px;

  &__header {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__hmenu {
    display: none;
  }

  &__logo {
    fill: $white-color;
  }

  &__icons {
    fill: $white-color;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__search {
    display: flex;
    align-items: center;
    gap: 13px;
  }

  &__account {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  &__left {
    display: flex;
    gap: 40px;
    list-style-type: none;
    padding: 0px;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style-type: none;
    padding: 0px;
  }

  &__text {
    text-decoration: none;
    font-size: 14px;
    line-height: 150%;
    color: $white-color;

    &:hover {
      text-decoration: underline;
    }
  }

  &__content {
    min-height: calc(100vh - 465px);
  }

  &__footer {
    display: flex;
    flex-direction: column;
  }

  &__brands {
    border-top: 1px solid $white-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding-top: 30px;
    margin-bottom: 30px;
  }

  &__brand {
    border-right: 1px solid $white-color;
    display: flex;
    justify-content: center;
    min-width: 175px;

    &:last-child {
      border-right: none;
    }
  }

  &__slogan {
    font-family: 'Noto Serif', Georgia, serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: $white-color;
    margin-bottom: 50px;
  }

  &__catalog {
    flex-wrap: wrap;
    align-self: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $white-color;
    text-decoration: none;
    background: $accent-color;
    border: 1px solid $white-color;
    box-sizing: border-box;
    padding: 15px 35px;
    margin-bottom: 80px;

    &:hover {
      border: 1px solid $accent-color;
      color: $accent-color;
      background: $white-color;
    }
  }
}

@media (max-width: $table-width) {
  .first-screen__header {
    display: flex;
    flex-direction: column-reverse;

    &__logo {
      order: 1;
      margin-top: 10px;
    }

    &__right {
      margin-top: 20px;
      margin-bottom: 5px;
    }

    &__left {
      margin-top: 5px;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: $mobile-width) {
  .first-screen {
    background: linear-gradient(0deg, rgba(51, 51, 51, 0.87), rgba(51, 51, 51, 0.87)), url(../img/bg-mob-first-screen@1.jpg);
    background-color: $accent-color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__header {
      display: flex;
      flex-direction: row-reverse;
      align-items: baseline;
      padding-top: 30px;
      padding-left: 34px;
      padding-right: 34px;
      margin-bottom: 80px;
    }

    &__hmenu {
      display: block;
      fill: $white-color;
    }

    &__brands {
      display: none;
    }

    &__left {
      display: none;
    }

    &__logo {
      display: flex;
    }

    &__right {
      display: none;
    }

    &__slogan {
      font-family: 'Noto Serif', Georgia, serif;
      font-weight: bold;
      font-size: 36px;
      line-height: 49px;
      text-align: center;
      margin-left: 10px;
      margin-right: 10px;
    }

    &__content {
      min-height: calc(100vh - 565px);
    }
  }
}
