.second-screen {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}

.second-screen__heading-mini {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    color: $accent-color;
}

.second-screen__heading {
    margin-top: 0px;
    margin-bottom: 60px;
    font-family: 'Noto Serif', Georgia, serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: $accent-color;
}

.second-screen__catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 55px;
    list-style-type: none;
}

.second-screen__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 55px;
    border: 1px solid $gray-color;
    color: $accent-color;
    box-shadow: 1px $gray-color;
    box-sizing: border-box;
    box-shadow: 6px 6px 0px -2px $white-color, 6px 6px 0px -1px $gray-color;
}

.second-screen__menu:hover {
    background-color: $accent-color;
    color: $white-color;
    box-shadow: none;
}

.secon-screen__item {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.second-screen__googs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.second-screen__picture {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 280px;
    justify-content: flex-end;
}

.second-screen__gradient {
    position: relative;
    background: linear-gradient(180deg, rgba(180, 180, 180, 0) 20.31%, $accent-color 100%);
    height: 100%;
}

.second-screen__image {
    position: absolute;
    height: 280px;
}

.second-screen__text {
    position: absolute;
    align-self: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $white-color;
    margin-top: 0px;
    margin-bottom: 30px;
}
