    .subscribe {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 478px;
      background-image: url(../img/bg-our-salon-subscribe@1.png);
      background-color: $accent-color;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 80px;

      &__heading-mini {
        margin-top: 0px;
        margin-bottom: 15px;
        font-weight: normal;
        font-size: 21px;
        line-height: 140%;
        text-align: center;
        color: $white-color;
      }

      &__heading {
        margin-top: 0px;
        margin-bottom: 60px;
        font-family: 'Noto Serif', Georgia, serif;
        font-weight: bold;
        font-size: 30px;
        line-height: 41px;
        text-align: center;
        color: $white-color;
      }

      &__wrapper {
        display: flex;
        gap: 80px;
      }

      &__features {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
      }

      &__text {
        font-weight: normal;
        font-size: 18px;
        line-height: 140%;
        color: $white-color;
        margin-bottom: 15px;

        &::before {
          content: '';
          position: relative;
          background: url(../img/icon-bullet.svg) center center/contain no-repeat;
          padding: 10px;
          left: -20px;
        }
      }

      &__container {
        border: 1px solid $white-color;
        padding: 15px 14px;
        box-sizing: border-box;
      }

      &__form {
        background-color: $white-color;
        padding: 20px 22px;
      }

      &__input {
        padding-left: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-right: 15px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $accent-color-op;
        border: 1px solid $gray-color;
      }

      &__submit {
        padding: 14px 35px;
        background: $accent-color;
        border: 1px solid $white-color;
        box-sizing: border-box;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $white-color;
        cursor: pointer;
      }
    }

    @media (max-width: $table-width) {
      .subscribe__wrapper {
        gap: 20px;
      }
    }

    @media (max-width: $mobile-width) {
      .subscribe {
        min-height: 480px;
        margin-bottom: $section-mb-mobile;

        &__heading-mini {
          font-size: 18px;
          margin-left: 10px;
          margin-right: 10px;
        }

        &__heading {
          font-size: 24px;
          line-height: 33px;
          margin-bottom: 30px;
        }

        &__features {
          margin-right: 60px;
        }

        &__wrapper {
          flex-wrap: wrap;
          gap: 0px;
          justify-content: center;
        }

        &__container {
          margin-left: 20px;
          margin-right: 20px;
        }

        &__form {
          padding: 20px 20px;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 10px;
        }

        &__input {
          margin-right: 0px;
          margin-bottom: 0px;
          padding-left: 0px;
          text-align: center;
        }

        &__submit {
          margin-top: 0px;
          margin-left: 0px;
          padding: 17px 42px;
        }
      }
    }
