$accent-color: #333333;
$accent-color-op: rgba(51, 51, 51, 0.5);
$white-color: #FFFFFF;
$gray-color: #D6D6D6;
$hard-gray-color: #979797;
$background-color: #F9F9F9;
// $text-main: #ffffff;
// $text-content: #102654;
// $text-tickets-desc: #495a7d;
// $text-price: #103aae;
// $text-promotion: #1c3374;
// $text-price-shadow: #e8e8e8;
// $text-adv-small: #2e35ac;
// $text-lin-grad: linear-gradient(127.61deg, #d10a42 0%, #0041ca 45.58%);
// $text-active: #020020;
// $text-trainer-direction: #b6bdcc;
// $border-main: #ffffff;
// $line-mounts: rgba(120, 120, 120, 0.2);
// $line-mounts-hover: rgba(209, 10, 66, 0.7);
// $line-mounts-active: rgba(209, 10, 66, 1);
// $line-light: #ffffff;
// $line-adv: rgba(209, 10, 66, 0.2);
// $line-feedback: #74819c;
// $bg-color: #f8f9fc;
// $bg-ticket: #ffffff;
// $bg-contrast: #ed0233;
// $bg-trainer-item-hover: rgba(16, 38, 84, 0.89);
// $bg-trainer: rgba(185, 195, 213, 0.7);
// $bg-item-main: #1c3374;
// $bg-gradient: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%);
// $bg-free-lesson: #102654;
// $bg-footer: #030a1a;
// $btn-bg-active: rgba(2, 0, 32, 0.7);
// $btn-border-active: #020020;
// $conic-gradient-desktop: conic-gradient(from 130.31deg at 16.03% 39.06%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
// $conic-gradient-tablet: conic-gradient(from 139.4deg at 20.7% 35.74%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
// $conic-gradient-mobile: conic-gradient(from 171.43deg at 35.31% 34.22%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
// $lin-grad-btn-hover: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%);
// $lin-grad-btn-play: linear-gradient(44.89deg, #003d85 25.38%, #b80027 74.89%);
// $shadow: rgba(28, 51, 116, 0.2);

}
.blog__image {
    position: absolute;
    height: 370px;
}
.blog__gradient {
    position: relative;
    background: linear-gradient(180deg, rgba(180, 180, 180, 0) 0%, $accent-color 100%);
    height: 100%;
}
.blog__text {
    max-width: 210px;
    position: absolute;
    font-weight: normal;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    align-self: center;
    color: $white-color;
    margin-top: 0px;
    margin-bottom: 35px;
}
.blog__read {
    align-self: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $white-color;
    background: $accent-color;
    border: 1px solid $white-color;
    text-decoration: none;
    padding: 15px 35px;
}
font-size: 14px;
line-height: 16px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: $accent-color-op;
border: 1px solid $gray-color;
box-sizing: border-box;

}
.subscribe__submit {
    padding: 14px 35px;
    background: $accent-color;
    border: 1px solid $white-color;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $white-color;
}