$accent-color: #333333;
$accent-color-op: rgba(51, 51, 51, 0.5);
$white-color: #FFFFFF;
$gray-color: #D6D6D6;
$hard-gray-color: #979797;
$background-color: #F9F9F9;
$second-screen-gradient: linear-gradient(180deg, rgba(180, 180, 180, 0) 20.31%, $accent-color 100%);
$second-screen-box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
$second-screen-text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
$second-screen-menu-outline: 1px $gray-color;
$second-screen-menu-fill: 6px 6px 0px -2px $white-color, 6px 6px 0px -1px $gray-color;