html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Gilroy', 'Trebuchet MS', sans-serif;
    /* font-family: 'Noto Serif', Georgia, serif; */
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0;
    background: $background-color;
}

.wrapper {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

// a {
//     text-decoration: none;
//     color: $text-main;
// }
// img {
//     max-width: 100%;
//     height: auto;
// }